################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample-code/dotnet-core-sample/bin/Debug/netcoreapp2.0
/sample-code/dotnet-core-sample/obj
/.vs
/sample-code/Configuration/src/AspDotNetCore/.vs
/sample-code/Configuration/src/AspDotNetCore/CloudFoundry/bin/Debug
/sample-code/Configuration/src/AspDotNetCore/CloudFoundry/obj
/sample-code/Configuration/src/AspDotNetCore/Simple/obj
